{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="kr" {% endblock %}
{% block title %} 최영선 & 이영옥{% endblock %}

{% block head %}
{{super()}}
<link rel="icon" href="../static/favicon.ico">
{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Noto+Sans' type='text/css'>
<link rel="stylesheet" href="https://cdn.rawgit.com/singihae/Webfonts/master/style.css" type="text/css">
{% endblock %}

{% block body %}
{{super()}}
{% block content %} {% endblock %}
<footer class="footer">
    <div class="container">
        <p class="pull-right"><a href="/">홈으로</a></p>
        <p class="text-muted"> &copy; 2017 최영선. All rights are reserved. </p>
        <p class="text-muted"> 축하전화 <i class="fa fa-mobile" aria-hidden="true"></i> 010-8845-6548 </p>
    </div>
</footer>
{% endblock %}